@font-face {
  font-family: 'Harrison';
  src: url('../fonts/Harrison.ttf') format('truetype');
}

@font-face {
  font-family: 'Simplifica';
  src: url('../fonts/simplifica.ttf') format('truetype');
}


@import "~bulma";
@import "~bulma-carousel/dist/css/bulma-carousel.min.css";
@import "~bulma-calendar/dist/css/bulma-calendar.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import 'partials/variables';
@import "partials/front";
@import "partials/landing";
@import "partials/footer";
@import "partials/biography";
@import "partials/music";
@import "partials/quote";
@import "partials/contact";
@import "partials/auth";
@import "partials/back";
@import "partials/user";
@import "partials/settings";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
