.auth {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/guitare.jpg');
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    background-color: #fff;
    border: solid 2px #000;

    h3 {
      text-align: center;
    }
  }
}