.back {
  h3 {
    text-align: center;
  }

  .side-links {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .admin-link {
      background-color: #000;
      padding: 10px 20px;

      a {
        color: #fff;
        font-family: "Simplifica", sans-serif;
        font-size: 20px;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}