.biography {
  margin-top: 8vh;

  .column {
    &:first-child {
      img {
        width: 100%;
        border: solid 10px #000;
      }
    }

    &:last-child {
      h3 {
        font-family: "Harrison", sans-serif;
      }
    }
  }

  /* TIMELINE */

  .timeline {
    margin-top: 60px;

    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 6px;
        margin: 0 auto;
        padding-top: 50px;
        background: grey;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: inherit;
          transition: background .5s ease-in-out;
        }

        &:nth-child(odd) div {
          left: 45px;
          transform: translate3d(200px, 0, 0);

          &::before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent $green transparent transparent;
          }
        }

        &:nth-child(even) div {
          left: -439px;
          transform: translate3d(-200px, 0, 0);

          &::before {
            right: -15px;
            border-width: 8px 0 8px 16px;
            border-color: transparent transparent transparent $green;
          }
        }

        &.in-view {
          background: $green;

          & div {
            transform: none;
            visibility: visible;
            opacity: 1;
          }
        }

        div {
          position: relative;
          bottom: 0;
          color: #fff;
          width: 400px;
          padding: 15px;
          background: $green;
          visibility: hidden;
          opacity: 0;
          transition: all .5s ease-in-out;

          &::before {
            content: '';
            position: absolute;
            bottom: 7px;
            width: 0;
            height: 0;
            border-style: solid;
          }
        }
      }
    }
  }

  time {
    font-family: "Simplifica", sans-serif;
    color: #fff;
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
  }


  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  @media screen and (max-width: 900px) {

    .timeline ul li {
      div {
        width: 250px;
      }

      &:nth-child(even) div {
        left: -289px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;

      &:nth-child(even) div {
        left: 45px;

        &::before {
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent $green transparent transparent;
        }
      }

      div {
        width: calc(100vw - 91px);
      }
    }
  }
}

.back .biography {
  .add {
    text-align: center;
    margin-bottom: 30px;
    a {
      color: #fff;
      background-color: #000;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 30px;
      font-family: "Simplifica", sans-serif;
    }
  }

  .dates {
    .columns {
      flex-flow: row wrap;
    }
  }

  .modal, .card {
    .bottom {
      text-align: center;

      button {
        color: #fff;
        background-color: #000;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 20px;
        font-family: "Simplifica", sans-serif;
      }
    }
  }

  .modal {
    .remove {
      display: flex;
      justify-content: flex-end;
    }
  }
}