footer {
  height: 15vh;
  padding: 3rem 0 0 2rem;

  .columns {
    .column {
      font-family: "Simplifica", sans-serif;
      font-size: 25px;

      &:first-child {
        line-height: 25px;
      }

      &:not(:first-child) {
        text-align: center;
      }

      a {
        color: #000;
      }
    }
  }
}