.navbar {
  margin-top: 7vh;
  padding: 0 10vh;

  &-item {
    img {
      max-height: 7.4rem;
    }
  }

  &-start {
    width: 72vw;
    justify-content: space-evenly;
    align-items: center;

    .item {
      width: 25vh;
      display: flex;
      justify-content: center;

      &:hover, &.current {
        border-style: solid hidden;
        border-color: #000;
      }

      a {
        font-variant: small-caps;
        font-family: Simplifica, sans-serif;
        font-size: 35px;
        height: fit-content;
        color: #000;
        padding: 0;

        &:hover {
          color: #000;
          background-color: #fff;
        }
      }
    }
  }

  &-end {
    img {
      height: 50px;
    }
  }
}

@media screen and (max-width: 1024px){
  .navbar {
    &-start {
      width: 100%;

      .item {
        width: auto;
      }
    }

    &-end {
      .navbar-item {
        display: flex;
        justify-content: center;
      }
    }
  }

  footer {
    padding-left: 0 !important;

    .is-2 {
      p {
        text-align: center;
      }
    }
  }
}