.landing {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/guitare.jpg');
  height: 85vh;
  background-size: cover;

  .columns {
    &:first-child {
      margin-bottom: 10vw;

      @media screen and (min-width: 1024px){
        width: 100%;
      }
    }

    .logo {
      margin-top: 15px;
      height: 250px;

      @media screen and (max-width: 768px){
        display: flex;
        justify-content: center;
        margin-top: 0;
      }

      @media screen and (min-width: 1024px) and (max-width: 1216px) {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        width: 100%;
      }
    }

    .links {
      display: flex;
      justify-content: space-around;
      padding-left: 7vw;

      @media screen and (max-width: 1024px){
        padding-left: 12px;
      }

      .link {
        background-color: #000;
        padding: 16px 50px;
        font-size: 2.5rem;
        font-variant: small-caps;
        font-family: "Simplifica", sans-serif;

        @media screen and (max-width: 768px){
          &:first-child {
            margin-bottom: 25px;
          }
        }

        @media screen and (min-width: 1024px) and (max-width: 1216px){
          padding: 20px 100px;
        }

        a {
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }

      @media screen and (max-width: 768px){
        flex-direction: column;
      }
    }
  }
}