.music {

  .bullet {
    text-align: center;

    span {
      font-size: 35px;
      font-family: "Simplifica", sans-serif;
      font-variant: small-caps;
    }

    &.selected {
      background-color: #000;

      span {
        color: #fff;
      }
    }

    &:not(.selected) {
      border: solid 1px #000;
      cursor: pointer;

      span {
        color: #000;
      }
    }
  }

  #carousel {
    margin-top: 70px;

    div[class^="item-"] {
      width: 100vw;
      min-height: 300px;
    }

    .image {

      iframe {
        width: 100%;
        height: 325px;
      }

      .description {
        padding-top: 12px;

        .image {
          &-title {
            font-family: Simplifica, sans-serif;
            font-size: 40px;
            color: #333;
            font-variant: small-caps;
            line-height: 1;
            list-style: none;
          }

          &-author {
            font-family: Simplifica, sans-serif;
            font-size: 25px;
            font-variant: small-caps;
            line-height: 0;
          }
        }
      }
    }

    .pure {
      iframe {
        height: 70vh;
      }
    }
  }
}

.back .music {
  .add {
    text-align: center;
    margin-bottom: 30px;
    a {
      color: #fff;
      background-color: #000;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 30px;
      font-family: "Simplifica", sans-serif;
    }
  }

  .musics {
    .columns {
      flex-flow: row wrap;
      .column {
        p {
          text-align: center;
        }
      }
    }
  }

  .modal, .card {
    .bottom {
      text-align: center;

      button {
        color: #fff;
        background-color: #000;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 20px;
        font-family: "Simplifica", sans-serif;
      }
    }
  }

  .modal {
    .remove {
      display: flex;
      justify-content: flex-end;
    }
  }
}