.quote {
  &.create {
    form {
      select {
        background: #fff;
        padding: 0;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-top: 3px;

        input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .slider {
            background-color: #000;

            &:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }
          }

          &:focus + .slider {
            box-shadow: 0 0 1px #000;
          }
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;

          &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
        }
      }

      .div-begindate, .div-deadline {
        @media screen and (max-width: 1024px){
          margin-left: 20px;
        }
      }

      .datetimepicker-dummy-wrapper {
        border: solid #000;

        .datetimepicker-dummy-input {
          font-size: 22px;
          font-family: "Simplifica", sans-serif;
          padding-top: 4px;
          max-width: 80%;
        }

      }

      .length {
        input {
          width: 33%;
          @media screen and (max-width: 1024px){
            width: 45%;
            padding: 0 0 0 5px;
          }
        }
      }

      .quote-bottom {
        display: flex;
        justify-content: space-between;
        padding-right: 32px;
      }
    }
  }

  &.show {
    table {
      .main {
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {

      .columns {
        &:first-child {
          .column {
            padding-right: 0;
            padding-left: 0;
          }
        }
      }

      table:not(.rates) {
        display: block;
        width: 100vw;

        thead, tbody, tr, th, td {
          display: block;
          width: 100vw;
        }

        thead {
          display: none;
        }

        td {
          padding-left: 150px;
          padding-right: 0;
          position: relative;
          border-bottom: solid 1px #ddd;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 130px;
            bottom: 0;
            line-height: 15px;
            display: flex;
            align-items: center;
            content: attr(data-label);
            font-weight: bold;
            border-bottom: solid 1px #ddd;
            border-right: solid 1px #ddd;
          }
        }
      }

      .rates {
        width: 100%;
      }
    }

    .details {
      display: flex;
      justify-content: flex-end;
    }

    .quote-bottom {
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;

      a {
        padding: 1rem 1.3rem;
        background-color: #000;
        font-family: "Simplifica", sans-serif;
        font-size: 22px;
        color: white;
        border: none;
        font-variant: small-caps;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &.sent {
    .column {
      text-align: center;
      height: 55vh;

      p {
        margin-bottom: 40px;
      }

      a {
        padding: 1rem 1.3rem;
        background-color: #000;
        font-family: "Simplifica", sans-serif;
        font-size: 30px;
        color: white;
        border: none;
        font-variant: small-caps;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.quotes {

  table {
    width: 100%;
  }

  &.index {
    .top {
      display: flex;
      justify-content: center;
      a {
        padding: 5px 10px;
        background-color: #000;
        font-family: "Simplifica", sans-serif;
        font-size: 22px;
        color: white;
        border: none;
        margin: 0 3px;

        &:hover {
          color: #fff;
        }

        &.active {
          background-color: #fff;
          color: #000;
          border: solid 1px #000;
        }
      }
    }
  }

  &.show {
    .bottom {
      display: flex;
      justify-content: center;

      a {
        padding: 5px 10px;
        background-color: #000;
        font-family: "Simplifica", sans-serif;
        font-size: 22px;
        color: white;
        border: none;
        margin: 0 3px;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}