.settings {
  .ratios {
    padding: 15px 0;

    .columns, .column {
      padding-top: 0;
      padding-bottom: 0;
    }

    .remove {
      color: #fff;
      background-color: #000;
      border: none;
      padding: 10px 15px;
      margin-top: 32px;
      margin-left: 52px;
      cursor: pointer;
    }
  }

  .add-type {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;

    button {
      color: #fff;
      background-color: #000;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 20px;
      font-family: "Simplifica", sans-serif;
    }
  }

  .simulation {
    margin-top: 35px;
  }
}