$green: #004703;

html {
  overflow-y: auto;
}

hr {
  height: 1px;
  margin: 1.5rem 2rem;
  background-color: #000;
}

h1, h2, h3 {
  margin-bottom: 32px;
}

p {
  margin-bottom: 16px;
}

h3.harrison {
  font-size: 2rem;
  font-weight: normal;
  font-family: "Harrison", sans-serif;
  color: $green;
  font-variant: small-caps;
}

form {
  label {
    font-family: "Simplifica", sans-serif;
    font-size: 22px;
    margin-left: 5px;
  }

  input:not([type="file"]):not([type="checkbox"]):not(.datetimepicker-dummy-input), textarea, select {
    width: 100%;
    border: solid #000;
    margin-bottom: 6px;
    font-size: 24px;
    font-family: "Simplifica", sans-serif;
    padding: 6px 12px;
  }

  input:not([type="file"]):not([type="checkbox"]) {
    height: 35px;
  }

  .switch[type=checkbox].is-medium:checked+label {
    &::before, &:before {
      background: #000;
    }
  }

  .actions {
    text-align: right;
  }

  .actions, .quote-bottom {

    button {
      font-variant: small-caps;
      padding: 12px 35px;
      font-family: "Simplifica", sans-serif;
      border: none;
      background-color: #000;
      color: #fff;
      font-size: 25px;
      cursor: pointer;
    }
  }
}

.columns {
  @media screen and (max-width: 1064px){
    margin-left: 0;
    margin-right: 0;
  }

}

