.user {
  form {
    .preview {
      text-align: center;
    }
    .file {
      justify-content: center;
      margin: 30px 0 10px 0;
    }
  }
}

.back {
  .dashboard {
    .card {
      &.followup, &.sumup {
        margin-top: 50px;

        .bottom {
          text-align: center;
          a {
            padding: 1rem 1.3rem;
            background-color: #000;
            font-family: "Simplifica", sans-serif;
            font-size: 22px;
            color: white;
            border: none;
            font-variant: small-caps;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

